<html>
  <head>
    <meta charset="utf-8" />
    <title> {{subject}} </title>
  </head>
  <body>
    <h2>
      Hi
      {{user}},
    </h2>

    <p>
      We’re happy to inform you that your loan of
      Ksh. {{amount}}
      has been successfully disbursed to your Loan account. You can access the
      funds immediately for your intended purposes.
      <p>
        You can view your repayment schedule and track your loan details in your
        account dashboard.
      </p>

      <p>
        Thank you for choosing Waweru SHG as your financial partner.
      </p>
    </p>

    <p>
      Thank you for trusting us to support your financial goals.
    </p>

    <p>Best regards,</p>
    <p>Waweru SHG.</p>
  </body>
</html>