<html>
  <head>
    <meta charset="utf-8" />
    <title> {{subject}} </title>
  </head>
  <body>
    <h2>
      Hi
      {{user}},
    </h2>

    <p>
      Thank you for submitting your loan application. After careful review, we
      regret to inform you that your application for Ksh. {{ amount}} has not been
      approved.
    </p>

    <p>
      If you’d like to understand more about the decision or explore alternative
      options, please don’t hesitate to reach out to us.
    </p>

    <p>
      We’re here to support you and look forward to serving you better in the
      future.

    </p>
    <p>
      Thank you for trusting us to support your financial goals.
    </p>

    <p>Best regards,</p>
    <p>Waweru SHG.</p>
  </body>
</html>