<html>
  <head>
    <meta charset="utf-8" />
    <title> {{subject}} </title>
  </head>
  <body>
    <h2>
      Hi
      {{user}},
    </h2>

    <p>
      Great news! Your loan application for Ksh. {{amount}}
      has been approved. We’re excited to take this next step with you. The
      disbursement will follow shortly, and we’ll notify you once the funds are
      transferred to your account.
    </p>

    <p>
      Thank you for trusting us to support your financial goals.
    </p>

    <p>Best regards,</p>
    <p>Waweru SHG</p>
  </body>
</html>